<table>
    <tr>
      <th [id]="column.cssId" *ngFor="let column of tableColumns"
      (dragstart)="tableColumnOnDragStart($event, column)"
      (dragend)="tableColumnOnDragEnd($event, column)"
      (dragover)="tableColumnOnDragOver($event)"
      (drop)="tableColumnOnDrop($event)"
      draggable="true" >{{column.columnName}}</th>
    </tr>

    <tr [id]="row.cssId" draggable="true" *ngFor="let row of tableRowsToDisplay">
      <td [id]="columnsInRow.cssId" *ngFor="let columnsInRow of row.columns">{{columnsInRow.value}}</td>
    </tr>
  </table>
