<!-- https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l -->

<table class="styled-table">
  <thead>
    <tr>
      <th [id]="column.cssId" *ngFor="let column of tableColumns" (dragstart)="tableColumnOnDragStart($event, column)"
        (dragend)="tableColumnOnDragEnd($event, column)" (dragover)="tableColumnOnDragOver($event)"
        (drop)="tableColumnOnDrop($event)" draggable="true">{{column.columnName}}</th>
    </tr>
  </thead>

  <tbody cdkDropList (cdkDropListDropped)="dropSuperTableRowColumn($event)">
    <tr  cdkDrag cdkDragLockAxis="y" [id]="row.cssId" *ngFor="let row of tableRowsToDisplay;let indexOfelement=index;">
      <td  [ngClass]="{'column-locked' : isRowLocked(row)}" cdkDragHandle [id]="columnsInRow.cssId"
        *ngFor="let columnsInRow of row.columns">

        <span *ngIf="columnsInRow.columnName==='Save' && columnsInRow.type === 'boolean'">
          <input type="checkbox" [checked]="columnsInRow.value" (change)="columnsInRow.onChange($event)" />
          <!-- <input *ngIf="columnsInRow.value" type="checkbox" [checked]="columnsInRow.value" (change)="columnsInRow.onChange($event)" /> -->
        </span>

        <span *ngIf="columnsInRow.columnName!=='Save' &&columnsInRow.type === 'boolean'">
          <input type="checkbox" [checked]="columnsInRow.value" (change)="columnsInRow.onChange($event)" />
        </span>

        <span *ngIf="columnsInRow.type !== 'boolean' && !canEdit(row)">{{columnsInRow.value}}</span>
        <span *ngIf="columnsInRow.type !== 'boolean' && canEdit(row)">
          <!-- {{columnsInRow.value}} -->

          <input [(ngModel)]="columnsInRow.inputValue">
        </span>
      </td>
    </tr>
  </tbody>
</table>

<button (click)="getResult()">Show new data</button>
